html, body {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	font-family: Sans-Serif;
	font-size: 10pt;
}

div.main {
	padding: 10px;
}

div.noderesult {
	padding: 3px;
	margin: 3px;
	float: left;
}

div.result {
	border: 2px solid #000000;  
}

div.noderesult {
	border: 2px solid #0db399;  
}

div.inputform {
	clear: left;
	padding-top: 5px;
	padding-bottom: 5px;
}

#debugger {
	width: 100%;
	position: fixed; bottom: 0; 
	padding: 0px;
	background-color: white;
}

#errors {
	border-top: 1px solid red;
	color: red;
	font-style: italic;
	width: 100%;
	padding: 3px;
}

#information {
	border-top: 1px solid blue;
	width: 100%;
	color: blue;
	font-style: italic;
	padding: 3px;
}

.box {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.closestatus {
	position: fixed;
	right: 0;
	cursor: pointer;
}

#header-left-img{
	float:left;
	padding-top: 1px;
}

#header-right-img {
	float:right;
	padding-top:30px;
	padding-right: 10px;
}
